<% if(typeof errors != 'undefined'){ %> <% errors.forEach(function(error) { %>
<div class="chip red white-text">
  <%= error.msg %>
  <i class="close material-icons">close</i>
</div>

<% }); %> <% } %>
