<div class="container">
  <p class="center-align">
    <i class="fas fa-sad-tear " style="font-size: 120px"></i>
  </p>
  <h1>Not found</h1>
  <h4>Sorry, but the page you were trying to view does not exist.</h4>
  <h4>It looks like this was the result of either:</h4>
  <ul style="font-size: 20px">
    <li>a mistyped address</li>
    <li>an out-of-date link</li>
  </ul>
</div>
