<p class="center-align">
  <i class="fas fa-sad-tear" style="font-size: 120px"></i>
</p>
<h1 style="padding-top: 30px">
  Password reset token is invalid or has expired.
</h1>
<br />
<h5>Please try again by sending email again</h5>
