<p class="center-align">
  <i class="far fa-smile" style="font-size: 120px"></i>
</p>
<h1 style="padding-top: 30px">
  <%=success_msg%>
</h1>
<br />
<h5>Please Login with your latest Password now.</h5>
